extends layout

block scripts
    script(type='text/javascript', src='/javascripts/main.js')

block content
    .container
        input(type='text', placeholder='Name')
        input(type='password', placeholder='Password')
        input(type='submit', ng-submit='submit()')
