extends layout

block scripts

block content
    .container.login(ng-controller='loginCtrl')
        a(role='button', ng-click='oAuth()')
            p.btn-oauth-one P
            p.btn-oauth-two P
        p.index-tip >> oAuth with PP Client
