.block-username {
  position: fixed;
  margin: 10px 0 0 -4px;
  z-index: 98;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  color: #333;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #eee;
  background-image: -webkit-linear-gradient(#fcfcfc, #eee);
  background-image: linear-gradient(#fcfcfc, #eee);
  border: 1px solid #d5d5d5;
  border-radius: 3px;
}

.label-username {
  position: fixed;
  margin: -24px 0 0 -11px;
  z-index: 99;
  font-size: 14px;
  padding: 4px 11px;
  font-weight: bold;
  line-height: 20px;
  color: #333;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #eee;
  background-image: -webkit-linear-gradient(#fcfcfc, #eeeeee);
  background-image: linear-gradient(#fcfcfc, #eeeeee);
  border: 1px solid #d5d5d5;
  border-radius: 3px;
}

.pp-list {
  ul {
    li {
      list-style-type: none;
      margin: 0px 0px 5px 0px;
      padding: 5px;
      border: 1px solid #EDEDED;
      border-radius: 3px;
      background-color: #FFF;

      .list-wrapper {
        .list-head {
          position: relative;
          height: auto;
          min-height: 55px;
          padding: 5px;
          background: #FFFFFF;
          box-shadow: 0px 1px 0px #efefef;

          img {
            float: left;
          }

          span.username, span.create-at {
            display: block;
            color: #A5AFC0;
            font-weight: bold;
            padding: 5px 0 0 55px;
          }

          span.create-at {
            font: 12px "Georgia";
            padding-top: 3px;
            color: #CCD1D8;
          }

          span.reply {
            position: absolute;
            font: 20px "Georgia";
            right: 10px;
            top: 15px;
            color: #AFAFB0;
            cursor: pointer;
            line-height: 21px;
          }

          span.reply:hover {
            position: absolute;
            font: 20px "Georgia";
            right: 10px;
            top: 15px;
            color: #8FB1FA;
            cursor: pointer;
            line-height: 21px;
          }
        }

        p {
          margin: 0 8px 10px;
          a {
            img {
              max-width: 100%;
              -moz-box-sizing: border-box;
              box-sizing: border-box;
              background: #fff;
              padding: 8px;
              margin: 5px 0px;
              border: 1px solid #eee;
              border-radius: 3px;
            }
          }
        }

        img.emotion.emoji {
          width: 22px!important;
          padding: 0;
          border-radius: 0;
          border: none;
          background: 0 0;
        }
        
        .monkey, .bubble-markdown-image-link {
          display: block;
        }

        .detail-comment-list {
          .comment-detail{
            border-top: 1px solid #eee;
            padding: 10px;

            img {
              float: left;
            }

            .comment-list-name {
              display: block;
              color: #A5AFC0;
              padding: 2px 0 0 45px;
            }

            .comment-list-create {
              display: block;
              font: 10px "Georgia";
              color: #CCD1D8;
              margin-top: -7px;
              padding: 0px 0 0px 51px;
            }

            .comment-list-content {
              display: block;
              padding: 10px 2px;
              border-bottom: 1px solid #eee;
            }
          }
        }
      }
    }
  }
}